html{
      font-size : 150%;
}
#heading{
    font-size :1.6 rem;
}
.Hello{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#ip{
    
    font-size:4rem;
    width: 56rem;
  
} 
